[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich = "*"
supabase = "*"
pandas = "*"
numpy = "*"
openpyxl = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
